<!-- Main weblayout -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California Moonshine Society Blog</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <header>
        <nav>
            <button>Home</button>
            {{#if logged_in}}
            <button>Dashboard</button>
            <button>Logout</button>
            {{else}}
            <button>Login</button>
            <button>Register</button>
            {{/if}}
        </nav>
        <h1>{{ page }}</h1>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>

    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>