<section class="form">
    <form id="createPost">
        <input type="text" id="postTitle" placeholder="Title" />
        <textarea id="postContent" placeholder="Content"></textarea>
        <button type="submit">Submit</button>
        <button id="postBackButton" type="button">Back</button>
    </form>
</section>
<p id="postError"></p>

<script src="/JS/createPost.js"></script>