<h2>{{user_name}}</h2>
<a class="nav-link" href="/createPost">Create Post</a>
<section id="posts">
    <aside id="postList"></aside>
    <article id="postFocus"></article>
</section>

<script src="/JS/dashboard.js"></script>