<section class="form">
    <form id="loginForm">
        <div>
            <label for="loginEmail">E-Mail:</label>
            <input type="text" id="loginEmail" />
        </div>
        <div>
            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</section>
<p id="loginError"></p>

<script src="/JS/login.js"></script>