<section class="form">
    <form id="registerForm">
        <div>
            <label for="registerName">Name:</label>
            <input type="text" id="registerName" />
        </div>
        <div>
            <label for="registerEmail">E-Mail:</label>
            <input type="text" id="registerEmail" />
        </div>
        <div>
            <label for="registerPassword">Password:</label>
            <input type="password" id="registerPassword" />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</section>
<p id="registerError"></p>

<script src="/JS/register.js"></script>