article {
    background-color: var(--contrastColor);
    margin: 16px;
    padding: 4px;
    border-radius: 2px;
}
h3 {
    color: var(--subsidaryColor);
    font-size: 16pt;
    margin: auto;
    margin-left: 16px;
}
h4 {
    color: var(--subsidaryColor);
    font-size: 12pt;
    margin: auto;
    margin-left: 16px;
}
p {
    color: var(--subsidaryColor);
    font-size: 12pt;
    margin: auto;
    margin-left: 16px;
}
.content {
    background-color: var(--backgroundColor);
    color: var(--contrastColor);
    margin: 4px;
    padding: 4px;
    padding-left: 12px;
    border-radius: 2px;
}

#posts span {
    margin-left: 12px;
    margin-bottom: 4px;
}
.comment {
    margin: 4px;
    border-radius: 2px;
    background-color: var(--backgroundColor);
}
.comment p{
    margin-left: auto;
    margin-right: 8px;
    width: fit-content;
}

#postList{
    width: fit-content;
    max-width: 20%;
    float: left;
}
#postFocus{
    width: 75%;
    float: right;
}