.form {
    background-color: var(--contrastColor);
    margin: 12px auto;
    width: fit-content;
    border-radius: 2px;
}

#loginForm, #registerForm {
    display: inline-block;
    background-color: var(--backgroundColor);
    margin: 4px;
    padding: 4px;
    border-radius: 2px;
    text-align: right;
} 

#loginError, #registerError {
    color: red;
    margin: 8px;
    text-align: center;
}