:root {
    --backgroundColor: #eeeee4;
    --contrastColor: #21130d;
    --subsidaryColor: #ababab;
}
body {
    background-color: var(--backgroundColor);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    padding: 16px;
    background-color: var(--contrastColor);
}
nav {
    display: inline;
}
.nav-link {
    display: inline-block;
    color: var(--backgroundColor);
    text-decoration: none;
    font-size: 12pt;
    padding: 5px;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--contrastColor);
    background-color: var(--backgroundColor);
    border-radius: 10px;
}

h1 {
    background-color: var(--backgroundColor);
    color: var(--contrastColor);
    padding: 8px;
    font-size: 24pt;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 10px 10px var(--subsidaryColor);
}
p {
    color: var(--subsidaryColor);
    font-size: 12pt;
    margin: auto;
    margin-left: 16px;
}

button {
    background-color: var(--contrastColor);
    color: var(--backgroundColor);
    border-radius: 4px;
    padding: 4px;
    font-size: 12pt;
    border: none;
    margin: 4px;
}

button:hover {
    cursor: pointer;
    background-color: var(--subsidaryColor);
}

input {
    margin: 4px;
    width: calc(100% - 16px);
    min-width: 256px;
    border-radius: 4px;
    padding: 4px;
    font-size: 12pt;
}

textarea {
    margin: 4px;
    width: calc(100% - 16px);
    min-width: 256px;
    height: 30vh;
    max-height: 512px;
    border-radius: 4px;
    padding: 4px;
    font-size: 12pt;
}